﻿@impress-font: bold 30px Verdana;
@slightly-impress-font: normal 22px/1.2 Verdana;
@usual-font: normal 12px Verdana;
@main-backgrond-color: #1E90FF;
@additional-background-color: #eeeffc;


header {
    min-height: 100px;
    height: 100px;
    background-color: @main-backgrond-color;
    width: 100%;
    min-width: 900px;


    .top-header {
        width: 70%;
        height: 100%;
        margin: auto;
        min-width: 900px;

        .header-controls {
            display: flex;
            float: right;
            height: inherit;

            .control {
                display: block;
                font: @impress-font;
                color: white;
                font-stretch: condensed;
                width: auto;
                height: inherit;
                text-align: center;
                line-height: 90px;
                padding: 0 5px 0 5px;

                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                }

                &:hover {
                    background-color: #1e4cff;
                    cursor: pointer;
                }
            }
        }

        .logo {
            display: inline-block;
            font: @impress-font;
            color: white;
            font-stretch: extra-condensed;
            height: inherit;
            text-align: center;
            color: white;
            line-height: 90px;
        }
    }
}

footer{
    min-height:180px;
    display:block;
    background-color:@main-backgrond-color;
}

body {
    font:@usual-font;
    margin: 0px;
    min-width:1600px;
}

.body-content {
    min-height: 800px;
    background-color: @additional-background-color;
    min-width:900px;
    
}

.default-text{
    font: normal 12px arial;
}



.button {
    padding: 10px;
    display: inline-block;
    font-variant: small-caps;

    &red {
        background-color: red;
    }

    &blue {
        background-color: blue;
    }
}

.loginMain {

    position:relative;
    height:100%;

    .authorize {
        position: absolute;
        width: 500px;
        min-width: 400px;
        box-shadow: black 0px 0px 2px;
        left: 38%;
        top: 5%;
        background-color:azure;


        .header {
            height: 80px;
            min-height: 60px;
            padding:20px;
            background-color: @main-backgrond-color;
        }

        .body {
            padding:20px;
        }

        .footer {
            height: 80px;
            min-height: 60px;
            padding:20px;
            background-color: @main-backgrond-color;
        }

        .title {
            font: @impress-font;
            color:white;
            text-align:center;
            width:100%;
        }

        label {
            display:inline-block;
            font: @usual-font;
            width: 33%;
            font: @slightly-impress-font;
            font-size:16px;
            font-stretch: condensed;
        }

        .default-textBox {
            width: 60%;
            font: @slightly-impress-font;
        }

        .default-checkBox {
        }
    }
}

.form-block {
    margin: 20px 5px 20px 5px;
    padding: 10px;
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;

    background:radial-gradient(#d8ecff, azure);
}

.form-buttons {
    button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        width: 100%;
        margin: auto;

        &:hover {
            background-color: #68bf6b;
            cursor: pointer;
        }

        &:active {
            background-color: #4CAF50;
        }
    }
}

.default-textBox {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.default-checkBox{
    width:20px;
    height:20px;
    border-radius:0;
    box-shadow:none;
}

a{
    text-decoration:none;
    color:white;

    &:visited{
        text-decoration:none;
    }

    &:active{
        color:none;
    }
}

.home-nav {
    position: relative;

    .scroller {
        width: 100px;
        height: 100%;
        position: absolute;
        background: rgba(0, 0, 0, 0.00);
        color: #1E90FF;
        font-weight: bold;
        font-size: 20px;
        top: 0;
        line-height: 60px;
        right: -100px;
        cursor: pointer;

        &:active {
            color: #ffc067 !important;
        }

        &:hover {
            color: white;
            background: rgba(0, 0, 0, 0.25);
        }
    }

    .menu-title {
        width: 350px;
        margin: auto;
        font: @impress-font;
        color: white;
        padding: 20px 0 20px;
        background: rgba(73,155,234,1);
        text-align: center;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .menu {
        position: absolute;
        left: -350px;
        width: 350px;
        top: 100px;

        a {
            display: block;
            padding: 20px;
            background: linear-gradient(to bottom, rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%);
            border-bottom: 1px solid #3d3de2;
            font-size: 24px;

            &:hover {
                background: linear-gradient(to bottom, rgb(81, 167, 251) 0%,rgb(36, 133, 245) 100%);
            }

            &:active {
                background: rgba(73,155,234,1);
            }
        }

        .menu-list {
            position: relative;

            &:hover .menu-drop {
                display: block;
            }
        }

        .menu-drop {
            position: absolute;
            width: 100%;
            left: 100%;
            top: 0;
            display: none;
        }

        .menu-item {
            cursor: pointer;
        }
    }
}

.main-content{
    width:80%;
    height:100%;
    margin:auto;
    background:white;
    box-shadow:black 0px 0px 3px;

    .main-content-data{
        height:90%;
        width:100%;
    }

    .data-loading{
        display:none;
        position:absolute;
        top:40%;
        left:45%;
        font-size:50px;
    }
}


//PAGIN
.pagin {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    background: rgb(189, 223, 255);

    .displaying {
        display: flex;

        .displaying-item {
            padding: 10px;
            background: #1E90FF;
            border: 1px solid rgba(0, 0, 0, 0.30);
            font-size: 18px;
            cursor: pointer;
            color: white;
            width: 25px;
            height: 25px;
            text-align: center;


            &:hover {
                background: #65b2fc;
            }

            &.active {
                border: 1px groove black;
                background: #003c76;
            }
        }
    }

    .pages {
        display: flex;

        .page {
            padding: 10px;
            background: #1E90FF;
            border: 1px solid rgba(0, 0, 0, 0.30);
            font-size: 18px;
            cursor: pointer;
            color: white;
            margin: 0 5px 0 5px;
            text-align: center;

            &:hover {
                background: #65b2fc;
            }

            &.active {
                border: 1px groove black;
                background: #003c76;
            }
        }
    }
}

//PAGE_HEADER
.page-control-header {
    border-bottom: 1px solid black;

    .page-header {
        display: flex;
        padding: 10px;
        justify-content: space-between;

        .page-name {
            font: @slightly-impress-font;
            font-weight: 400;
            font-size: 54px;
        }

        .page-actions {
            display: flex;
            font: @slightly-impress-font;
            font-weight: 400;
            font-size: 38px;
            margin-right:80px;
            border:groove 3px rgba(0, 0, 0, 0.60);
            border-radius:2px;
            vertical-align:central;

            .action {
                color: black;
                cursor:pointer;
                padding:10px;
                align-items:center;
                background:rgba(0,0,0,0);

                &:hover {
                    color:rgba(0, 0, 0, 0.75);
                }

                &:active {
                    color: white;
                    background:rgba(0, 0, 0, 0.15);
                }
            }
        }
    }
}

//COMMANDS-PAGE
.commands-content {
    min-height: 70%;

    .commands-table {
        margin: 15px 0 15px 0;
        width: 100%;
        text-align: center;
        border-collapse:collapse;

        tr {
            border-bottom: 2px inset rgba(0, 0, 0, 0.80);
            height:50px;
            cursor:pointer;

            &.bold {
                background: #dedede;
            }

            &:hover{
                background:#ffd5a6;
            }
        }
    }

    .command-activity {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background: radial-gradient(ellipse at center, rgba(241,111,92,1) 0%, rgba(240,47,23,1) 30%, rgba(248,80,50,1) 51%, rgba(255,255,255,1) 64%, rgba(255,255,255,1) 100%);
        margin: auto;

        &.active {
            background: radial-gradient(ellipse at center, rgba(145,255,120,1) 0%, rgba(23,255,23,1) 30%, rgba(52,247,114,1) 51%, rgba(255,255,255,1) 64%, rgba(255,255,255,1) 100%) !important;
        }
    }
}

//CREATE-COMMAND-DIALOG
.ui-dialog {
    font-size: 16px;
    .section{
        margin:5px;
    }

    textarea {
        width: 100%;
        height:150px;
    }

    .commandParameter-block {
        overflow-y: auto;
        height: 400px;
        border: 3px inset #91d3ff;
        padding: 5px;
        background: #f8f8f8;

        .commandParameter-create-form {
            background:#81d8ff;
            padding:1px;
            border:1px solid rgba(0,0,0,0.2);
        }
    }
}