﻿@using GSTU_Helper.ViewModels.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model LoginViewModel
@{
    Layout = "~/Views/Layouts/_AccountLayout.cshtml";
}

<div class="authorize">
    <div class="header">
        <span class="title">@Localizer["GstuHelper"]</span>
    </div>

    <div class="body">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        <div class="form-block">
            @Html.LabelFor(m => m.Login, Localizer["LoginLabel"])
            @Html.TextBoxFor(m => m.Login, null, new { @class = "default-textBox" })
            <br>
            @Html.ValidationMessageFor(m => m.Login, null, new { @style = "color:red;" })
        </div>

        <div class="form-block">
            @Html.LabelFor(m => m.Password, Localizer["Password"])
            @Html.PasswordFor(m => m.Password, new { @class = "default-textBox" })
            <br>
            @Html.ValidationMessageFor(m => m.Password, null, new { @style="color:red;" })
        </div>

        <div class="form-block">
            @Html.LabelFor(m => m.RememberMe, Localizer["RememberMe"].Value, null)
            @Html.CheckBoxFor(m => m.RememberMe, new { @class = "default-checkBox" })
        </div>

        <div class="form-buttons">
            <button type="submit">@Localizer["Authorize"]</button>
        </div>
}
    </div>

    <div class="footer">

    </div>
</div>