﻿@using GSTU_Helper.ViewModels.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model RegisterViewModel

<div class="dialog">
    <div class="dialog-header">

    </div>

    <div class="dialog-body">
        @using (Html.BeginForm("Register", "Authorization", FormMethod.Post))
        {
            <div class="form-block">
                @Html.LabelFor(m => m.Login, Localizer["Login"])
                @Html.TextBoxFor(m => m.Login, new { @class = "default-textBox" })
                @Html.ValidationMessageFor(m => m.Login)
            </div>
            <div class="form-block">
                @Html.LabelFor(m => m.Password, Localizer["Password"])
                @Html.PasswordFor(m => m.Password, new { @class = "default-textBox" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="form-buttons">
                <button type="submit">@Localizer["Register"]</button>
            </div>
        }
    </div>

    <div class="dialog-footer">

    </div>
</div>
