﻿
<html>
<head>
    @Html.Partial("StylesPartial.cshtml")
    @Html.Partial("ScriptsPartial.cshtml")
</head>

<body style="background-color:rgba(0, 0, 0, 0.20)">
    <div class="loginMain" >
        @RenderBody()
    </div>
</body>
</html>

