﻿@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@inject IViewLocalizer Localizer

<div class="top-header">
    <div class="logo">
        @Localizer["AppName"]
    </div>

    <div class="header-controls">
        <div class="control">
            <a href="/Account/Logout">@Localizer["Logout"]</a>
        </div>
    </div>
</div>


