﻿
<html>
    <head>
        @Html.Partial("StylesPartial.cshtml")
        @Html.Partial("ScriptsPartial.cshtml")
    </head>

    <body>
        <div class="main">
            <header>
                @Html.Partial("_HeaderPartial.cshtml")
            </header>

            <div class="body-content">
                @RenderBody()
            </div>

            <footer>
                @Html.Partial("_FooterPartial.cshtml")
            </footer>
        </div>
    </body>
</html>

