﻿<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
<script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
<script src="~/Scripts/Jquery/Models/Home.js"></script>
<script src="~/Scripts/Jquery/RequestService.js"></script>
<script src="~/Scripts/Jquery/popupResult.js"></script>





