﻿

<link rel="stylesheet" type="text/css" href="~/Styles/css/common-styles.css" />
<link rel="stylesheet" type="text/css" href="~/lib/jquery-ui/themes/base/jquery-ui.min.css" />
<link rel="stylesheet" type="text/css" href="~/Styles/css/dialog-common-styles.css" />
<link rel="stylesheet" type="text/css" href="~/lib/font-awesome/css/font-awesome.min.css" />