header {
  min-height: 100px;
  height: 100px;
  background-color: #1E90FF;
  width: 100%;
  min-width: 900px;
}
header .top-header {
  width: 70%;
  height: 100%;
  margin: auto;
  min-width: 900px;
}
header .top-header .header-controls {
  display: flex;
  float: right;
  height: inherit;
}
header .top-header .header-controls .control {
  display: block;
  font: bold 30px Verdana;
  color: white;
  font-stretch: condensed;
  width: auto;
  height: inherit;
  text-align: center;
  line-height: 90px;
  padding: 0 5px 0 5px;
}
header .top-header .header-controls .control a {
  display: block;
  width: 100%;
  height: 100%;
}
header .top-header .header-controls .control:hover {
  background-color: #1e4cff;
  cursor: pointer;
}
header .top-header .logo {
  display: inline-block;
  font: bold 30px Verdana;
  font-stretch: extra-condensed;
  height: inherit;
  text-align: center;
  color: white;
  line-height: 90px;
}
footer {
  min-height: 180px;
  display: block;
  background-color: #1E90FF;
}
body {
  font: normal 12px Verdana;
  margin: 0px;
  min-width: 1600px;
}
.body-content {
  min-height: 800px;
  background-color: #eeeffc;
  min-width: 900px;
}
.default-text {
  font: normal 12px arial;
}
.button {
  padding: 10px;
  display: inline-block;
  font-variant: small-caps;
}
.buttonred {
  background-color: red;
}
.buttonblue {
  background-color: blue;
}
.loginMain {
  position: relative;
  height: 100%;
}
.loginMain .authorize {
  position: absolute;
  width: 500px;
  min-width: 400px;
  box-shadow: black 0px 0px 2px;
  left: 38%;
  top: 5%;
  background-color: azure;
}
.loginMain .authorize .header {
  height: 80px;
  min-height: 60px;
  padding: 20px;
  background-color: #1E90FF;
}
.loginMain .authorize .body {
  padding: 20px;
}
.loginMain .authorize .footer {
  height: 80px;
  min-height: 60px;
  padding: 20px;
  background-color: #1E90FF;
}
.loginMain .authorize .title {
  font: bold 30px Verdana;
  color: white;
  text-align: center;
  width: 100%;
}
.loginMain .authorize label {
  display: inline-block;
  font: normal 12px Verdana;
  width: 33%;
  font: normal 18.33333333px Verdana;
  font-size: 16px;
  font-stretch: condensed;
}
.loginMain .authorize .default-textBox {
  width: 60%;
  font: normal 18.33333333px Verdana;
}
.form-block {
  margin: 20px 5px 20px 5px;
  padding: 10px;
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
  background: radial-gradient(#d8ecff, azure);
}
.form-buttons button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
  margin: auto;
}
.form-buttons button:hover {
  background-color: #68bf6b;
  cursor: pointer;
}
.form-buttons button:active {
  background-color: #4CAF50;
}
.default-textBox {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.default-checkBox {
  width: 20px;
  height: 20px;
  border-radius: 0;
  box-shadow: none;
}
a {
  text-decoration: none;
  color: white;
}
a:visited {
  text-decoration: none;
}
a:active {
  color: none;
}
.home-nav {
  position: relative;
}
.home-nav .scroller {
  width: 100px;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0);
  color: #1E90FF;
  font-weight: bold;
  font-size: 20px;
  top: 0;
  line-height: 60px;
  right: -100px;
  cursor: pointer;
}
.home-nav .scroller:active {
  color: #ffc067 !important;
}
.home-nav .scroller:hover {
  color: white;
  background: rgba(0, 0, 0, 0.25);
}
.home-nav .menu-title {
  width: 350px;
  margin: auto;
  font: bold 30px Verdana;
  color: white;
  padding: 20px 0 20px;
  background: #499bea;
  text-align: center;
}
.home-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.home-nav .menu {
  position: absolute;
  left: -350px;
  width: 350px;
  top: 100px;
}
.home-nav .menu a {
  display: block;
  padding: 20px;
  background: linear-gradient(to bottom, #499bea 0%, #207ce5 100%);
  border-bottom: 1px solid #3d3de2;
  font-size: 24px;
}
.home-nav .menu a:hover {
  background: linear-gradient(to bottom, #51a7fb 0%, #2485f5 100%);
}
.home-nav .menu a:active {
  background: #499bea;
}
.home-nav .menu .menu-list {
  position: relative;
}
.home-nav .menu .menu-list:hover .menu-drop {
  display: block;
}
.home-nav .menu .menu-drop {
  position: absolute;
  width: 100%;
  left: 100%;
  top: 0;
  display: none;
}
.home-nav .menu .menu-item {
  cursor: pointer;
}
.main-content {
  width: 80%;
  height: 100%;
  margin: auto;
  background: white;
  box-shadow: black 0px 0px 3px;
}
.main-content .main-content-data {
  height: 90%;
  width: 100%;
}
.main-content .data-loading {
  display: none;
  position: absolute;
  top: 40%;
  left: 45%;
  font-size: 50px;
}
.pagin {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  background: #bddfff;
}
.pagin .displaying {
  display: flex;
}
.pagin .displaying .displaying-item {
  padding: 10px;
  background: #1E90FF;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 18px;
  cursor: pointer;
  color: white;
  width: 25px;
  height: 25px;
  text-align: center;
}
.pagin .displaying .displaying-item:hover {
  background: #65b2fc;
}
.pagin .displaying .displaying-item.active {
  border: 1px groove black;
  background: #003c76;
}
.pagin .pages {
  display: flex;
}
.pagin .pages .page {
  padding: 10px;
  background: #1E90FF;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 18px;
  cursor: pointer;
  color: white;
  margin: 0 5px 0 5px;
  text-align: center;
}
.pagin .pages .page:hover {
  background: #65b2fc;
}
.pagin .pages .page.active {
  border: 1px groove black;
  background: #003c76;
}
.page-control-header {
  border-bottom: 1px solid black;
}
.page-control-header .page-header {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.page-control-header .page-header .page-name {
  font: normal 18.33333333px Verdana;
  font-weight: 400;
  font-size: 54px;
}
.page-control-header .page-header .page-actions {
  display: flex;
  font: normal 18.33333333px Verdana;
  font-weight: 400;
  font-size: 38px;
  margin-right: 80px;
  border: groove 3px rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  vertical-align: central;
}
.page-control-header .page-header .page-actions .action {
  color: black;
  cursor: pointer;
  padding: 10px;
  align-items: center;
  background: rgba(0, 0, 0, 0);
}
.page-control-header .page-header .page-actions .action:hover {
  color: rgba(0, 0, 0, 0.75);
}
.page-control-header .page-header .page-actions .action:active {
  color: white;
  background: rgba(0, 0, 0, 0.15);
}
.commands-content {
  min-height: 70%;
}
.commands-content .commands-table {
  margin: 15px 0 15px 0;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
.commands-content .commands-table tr {
  border-bottom: 2px inset rgba(0, 0, 0, 0.8);
  height: 50px;
  cursor: pointer;
}
.commands-content .commands-table tr.bold {
  background: #dedede;
}
.commands-content .commands-table tr:hover {
  background: #ffd5a6;
}
.commands-content .command-activity {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: radial-gradient(ellipse at center, #f16f5c 0%, #f02f17 30%, #f85032 51%, #ffffff 64%, #ffffff 100%);
  margin: auto;
}
.commands-content .command-activity.active {
  background: radial-gradient(ellipse at center, #91ff78 0%, #17ff17 30%, #34f772 51%, #ffffff 64%, #ffffff 100%) !important;
}
.ui-dialog {
  font-size: 16px;
}
.ui-dialog .section {
  margin: 5px;
}
.ui-dialog textarea {
  width: 100%;
  height: 150px;
}
.ui-dialog .commandParameter-block {
  overflow-y: auto;
  height: 400px;
  border: 3px inset #91d3ff;
  padding: 5px;
  background: #f8f8f8;
}
.ui-dialog .commandParameter-block .commandParameter-create-form {
  background: #81d8ff;
  padding: 1px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
