﻿@using GSTU_Helper.ViewModels.Global
@model PaginModel

<div class="pagin">
    <div class="displaying">
        @if(Model.DisplayCount == 8)
        { 
            <div class="displaying-item active" data-displayCount="8">8</div>
        }
        else
        {
            <div class="displaying-item" data-displayCount="8">8</div>
        }
        @if(Model.DisplayCount == 16)
        { 
            <div class="displaying-item active" data-displayCount="16">16</div>
        }
        else
        {
            <div class="displaying-item" data-displayCount="16">16</div>
        }
        @if(Model.DisplayCount == 32)
        { 
            <div class="displaying-item active" data-displayCount="32">32</div>
        }
        else
        {
            <div class="displaying-item" data-displayCount="32">32</div>
        }
    </div>

    <div class="pages">
        @for(int i = 1; i <= Model.TotalCount; i++)
        {
            if (Model.CurrentPage != i)
            {
            <div class="page" data-page="@i">
                @i
            </div>
            }
            else
            {
            <div class="page active" data-page="@i">
                @i
            </div>
            }
        }
    </div>
</div>