﻿@using GSTU_Helper.Configurations;
@using Microsoft.Extensions.Options;
@inject IOptions<DialogflowConfigurations> configs
@{
    Layout = "~/Views/Layouts/_Layout.cshtml";
    var dialogFlowApiToken = configs.Value.ClientApiToken;
    var dialogFlowWorkflow = string.Format(@"https://console.dialogflow.com/api-client/#/agent/{0}/intents", dialogFlowApiToken);
}

<div class="home-nav">
    <ul class="menu">
        <li class="menu-title menu-list">
            <span>Главное меню</span>
            <div class="scroller js-open-menu">
                <i class="fa-3x fas fa-angle-double-right"></i>
            </div>
        </li>
        <li class="menu-list">
            <a class="menu-item">Управление ботом <i class="fas fa-angle-right"></i></a>
            <ul class="menu-drop">
                <li><a class="menu-item">Профиль</a></li>
                <li><a class="menu-item">Общение</a></li>
                <li><a class="menu-item js-commands-button">Команды</a></li>
            </ul>
        </li>

        <li class="menu-list">
            <a class="menu-item">Управление данными <i class="fas fa-angle-right"></i></a>
            <ul class="menu-drop">
                <li><a class="menu-item">Кафедры</a></li>
                <li><a class="menu-item">Специальности</a></li>
            </ul>
        </li>

        <li>
            <a class="menu-item">Статистика</a>
        </li>
    </ul>
</div>

<div class="main-content">
    <div class="main-content-data">
    </div>
    <div class="data-loading">
        <i class="fa-4x fas fa-spinner fa-spin"></i>
    </div>
</div>