﻿@using GSTU_Helper.ViewModels.CommandManagement
@using GSTU_Helper.BusinessLayer.Models
@model CommandsViewModel


<div class="page-control-header">
    <div class="page-header">
        <div class="page-name">
            Комманды
        </div>
        <div class="page-actions">
            <div class="action js-create-command-dialog-button">
                <i class="fas fa-plus"></i>
            </div>
        </div>
    </div>
</div>

<div class="commands-content">
    <table class="commands-table">
        <thead>
            <tr>
                <th>
                    Название команды
                </th>
                <th>
                    Сейчас активна
                </th>
                <th>
                    Дата последнего изменения
                </th>
                <th>
                    Дата создания
                </th>
            </tr>
        </thead>
        @for(var i =0; i<Model.Commands.Count; i++)
        {
            @Html.Partial("~/Views/Commands/CommandLine.cshtml", Tuple.Create<Command, bool>(Model.Commands[i], i % 2 == 1));
        }
    </table>
</div>

@Html.Partial("~/Views/Partials/Pagin.cshtml", Model.Pagin)

@Html.Partial("~/Views/Commands/CreateCommandDialog.cshtml");

@Html.Partial("~/Views/Commands/DeleteCommandWarningDialog.cshtml");