﻿@using GSTU_Helper.BusinessLayer.Models
@model Tuple<Command, bool>

@if (Model.Item2)
{
    <tr data-id="@Model.Item1.Id" class="command-line js-command-update-dialog">
        <td>
            @Model.Item1.CommandName
        </td>
        <td>
            @if (Model.Item1.IsActive.HasValue)
            {
                @if (Model.Item1.IsActive.Value)
                {
                    <div class="command-activity active">

                    </div>
                }
                else
                {
                    <div class="command-activity">

                    </div>
                }
            }
            else
            {


            }
        </td>
        <td>
            @Model.Item1.ModifiedAt
        </td>
        <td>
            @Model.Item1.CreatedAt
        </td>
    </tr>
}
else
{
    <tr data-id="@Model.Item1.Id" class="command-line bold js-command-update-dialog">
        <td>
            @Model.Item1.CommandName
        </td>
        <td>
            @if (Model.Item1.IsActive.HasValue)
            {
                @if (Model.Item1.IsActive.Value)
                {
                    <div class="command-activity active">

                    </div>
                }
                else
                {
                    <div class="command-activity">

                    </div>
                }
            }
            else
            {


            }
        </td>
        <td>
            @Model.Item1.ModifiedAt
        </td>
        <td>
            @Model.Item1.CreatedAt
        </td>
    </tr>
}
