﻿
<div class="ui-dialog js-create-command-dialog">
    <div class="ui-dialog-content">
        <div class="form-block">
            <label name="commandName">Название комманды:</label>
            <input type="text" name="commandName" placeholder="Название комманды" />
        </div>

        <div class="form-block">
            <label name="commandDescription">Описание комманды:</label>
            <textarea name="commandDescription" placeholder="Описание комманды..."></textarea>
        </div>

        <div class="form-block">
            <label name="commandPattern">Паттерн команды:</label>
            <input type="text" name="commandPattern" placeholder="Паттерн команды" />
        </div>


        @Html.Partial("~/Views/Commands/ParametersAdding.cshtml")
    </div>
</div>

