﻿

<div class="ui-dialog js-delete-command-dialog" style="display:none;">
    <p><input type="radio" value="0" name="commandAction" checked="checked" />Удалить команду</p>
    <p><input type="radio" value="1" name="commandAction" />Отключить команду</p>
    <p><input type="radio" value="2" name="commandAction" />Включить команду</p>
</div>