﻿
<label name="commandParameters">Параметры:</label>
<div class="commandParameter-block">
    <div class="commandParameter-create-form">
        <div class="section">
            <label name="commandParameter-name">Имя параметра:</label>
            <input type="text" name="commandParameter-name" placeholder="Имя параметра" />
        </div>

        <div class="section">
            <label name="commandParameter-description">Описание параметра:</label>
            <textarea name="commandParameter-description" maxlength="100" placeholder="Описание параметра..."></textarea>
        </div>

        <div class="section">
            <label name="commandParameter-description">Тип:</label>
            <p><input type="radio" value="0" name="command-parameter-type" checked />Отсутствует</p>
            <p><input type="radio" value="1" name="command-parameter-type" />Целое число</p>
            <p><input type="radio" value="2" name="command-parameter-type" />Строка</p>
        </div>

        <div class="section">
            <button class="button js-add-parameter">Добавить параметр</button>
        </div>
    </div>
</div>
